<h1>Welcome to the Void, <%= @user.name %></h1>

<p>
	You have successfully signed in to the Void. By the way, your username is <%= @user.username %>, in case you need it for some reason.
</p>

<p>
	To login to the site, just follow this link: <%= @url %>.
</p>

<p>
	 Enjoy your stay! You can <em>never</em> check out.
</p>